<!DOCTYPE html>
<html>
<head>
  <title>imagen 360</title>
  <meta charset="utf-8">
</head>
<body>
<div style="text-align: center;" class="">
<div>
  <iframe src="https://www.google.com/maps/embed?pb=!4v1568958526029!6m8!1m7!1sCAoSLEFGMVFpcE5DdmVhQjdRaC1UdEVJelBJUjZDdHNhMGRnM05ka29oazFpeVlq!2m2!1d-22.013998!2d-63.6778564!3f16.956183386557736!4f-13.968980938544618!5f0.7820865974627469" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
  
</div>
</body>
</html>