<!DOCTYPE html>
<html>
<head>
  <title>imagen 360</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <link href="https://cdn.rawgit.com/mistic100/Photo-Sphere-Viewer/3.1.0/dist/photo-sphere-viewer.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/threejs/r70/three.min.js"></script>
  <script src="https://cdn.rawgit.com/mistic100/Photo-Sphere-Viewer/3.1.0/dist/photo-sphere-viewer.min.js"></script>

  <style type="text/css">
    #photosphere { height:600px; width:100%; margin:0 auto; }
  </style>
</head>
<body>

<div style="text-align: center;" class="">
<div>
  <iframe src="https://www.google.com/maps/embed?pb=!4v1568953845392!6m8!1m7!1sCAoSLEFGMVFpcE5DdmVhQjdRaC1UdEVJelBJUjZDdHNhMGRnM05ka29oazFpeVlq!2m2!1d-22.013998!2d-63.6778564!3f20!4f0!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
  
</div>



</body>
</html>