<!DOCTYPE html>
<html>
<head>
	<title>Administracion de Agregar Datos</title>
</head>
<body>
<form action="/my-handling-form-page" method="post">
  <p>

    Seleccione:

    <select name="datos">

      <option>Lugar</option>

      <option>Visita Virtual</option>

      <option>Calendario</option>

    </select>

    <input type="submit" value="Agregar" onclick="">
    <input type="submit" value="Buscar">

    <button type="button" onclick="location.href = 'hola.html'">Botón</button>

  </p>
 
</form>
</body>
</html>
