{% extends 'index.html' %}

    {% block titulo}bienvenido{% endblock titulo}

    {% block extracss %}
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    {% endblock extracss %}

    {% block body %}
    <div id="map"></div>
    {% endblock body %}

    {% block extrajs %}
     <script>
      var posiciones=[{lat: -22.013807, lng: -63.677843},
        {lat: -22.020945, lng: -63.677051},
        {lat: -22.018345, lng: -63.680841},
        {lat: -22.009178, lng: -63.672339}]
        var titulos =['sitio 1','sitio 2','sitio 3','sitio 4']
        var markers = [];

      var divmap=document.getElementById('map');
      function initMap() {

        var objConfig={
        zoom: 16,
        center:  {lat: -22.01392810529076, lng: -63.677741626018076}
      }
        var gMapa = new google.maps.Map(divmap,objConfig);


        for (var i=0 ; i <posiciones.length; i++) {
        var objConfigMarker={
        position:posiciones[i],
        map:gMapa,
        title:titulos[i]}
      var marker = new google.maps.Marker(objConfigMarker);
      markers.push(marker);
      }


      var markerCluster = new MarkerClusterer(gMapa, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWMu3rDLhNE4dLq8YW_vReY62CUcUz1X4&callback=initMap"
    async defer></script>
    {% endblock extrajs %}
