<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Recorridos</title>
	<link rel="stylesheet" href="estilos.css">
<style type="text/css">
#container{
	position: relative;
	top: 30px;
	width: 90%;
	height: auto;
	margin: auto;
	
}
#container .list-image{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;													
}
#container .list-image li{
	margin-right:10px;
	margin-bottom:10px;		
	margin-top: 10px;					
}
#container .list-image li img{
	position: relative;
	width: 500px;
	height: 250px;													
}
</style>
</head>
<body>
	<div class="container">
		<ul class="list-image">
			 <li><div class="container_img"><img src="1.jpeg" alt="" class="imagenes"><div class="info_img"><a href="imagen1.html" class="ver_mas_info">Hacer Recorrido Virtual</a>  </div> </div>  </li>
			 <li><div class="container_img"><img src="2.jpeg " alt="" class="imagenes"><div class="info_img"><a href="imagen2.html" class="ver_mas_info">Hacer Recorrido Virtual</a>  </div> </div>  </li>
			 <li><div class="container_img"><img src="imagenes/3.jpeg " alt="" class="imagenes"><div class="info_img"><a href="imagen3.html" class="ver_mas_info">Hacer Recorrido Virtual</a>  </div> </div>  </li>
			 <li><div class="container_img"><img src="imagenes/4.jpeg " alt="" class="imagenes"><div class="info_img"><a href="imagen4.html" class="ver_mas_info">Hacer Recorrido Virtual</a>  </div> </div>  </li>
		</ul>

	</div>
</body>
</html>